<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HotCityList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>924D58B71D38993800B2B473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>924D58D01D38993800B2B473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>924D58DB1D38993800B2B473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
