<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hot</key>
	<array>
		<dict>
			<key>code</key>
			<string>110105</string>
			<key>initial</key>
			<string>C</string>
			<key>level</key>
			<integer>3</integer>
			<key>nHot</key>
			<integer>1</integer>
			<key>name</key>
			<string>朝阳区</string>
			<key>phonetic</key>
			<string>chaoyangqu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110108</string>
			<key>initial</key>
			<string>H</string>
			<key>level</key>
			<integer>3</integer>
			<key>nHot</key>
			<integer>1</integer>
			<key>name</key>
			<string>海淀区</string>
			<key>phonetic</key>
			<string>haidianqu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110111</string>
			<key>initial</key>
			<string>F</string>
			<key>level</key>
			<integer>3</integer>
			<key>nHot</key>
			<integer>1</integer>
			<key>name</key>
			<string>房山区</string>
			<key>phonetic</key>
			<string>fangshanqu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110112</string>
			<key>initial</key>
			<string>T</string>
			<key>level</key>
			<integer>3</integer>
			<key>nHot</key>
			<integer>1</integer>
			<key>name</key>
			<string>通州区</string>
			<key>phonetic</key>
			<string>tongzhouqu</string>
		</dict>
	</array>
	<key>objects</key>
	<array>
		<dict>
			<key>code</key>
			<string>110100</string>
			<key>initial</key>
			<string>B</string>
			<key>level</key>
			<integer>2</integer>
			<key>nHot</key>
			<integer>0</integer>
			<key>name</key>
			<string>北京市</string>
			<key>phonetic</key>
			<string>beijingshi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110101</string>
			<key>initial</key>
			<string>D</string>
			<key>level</key>
			<integer>3</integer>
			<key>nHot</key>
			<integer>0</integer>
			<key>name</key>
			<string>东城区</string>
			<key>phonetic</key>
			<string>dongchengqu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110102</string>
			<key>initial</key>
			<string>X</string>
			<key>level</key>
			<integer>3</integer>
			<key>nHot</key>
			<integer>0</integer>
			<key>name</key>
			<string>西城区</string>
			<key>phonetic</key>
			<string>xichengqu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110105</string>
			<key>initial</key>
			<string>C</string>
			<key>level</key>
			<integer>3</integer>
			<key>nHot</key>
			<integer>1</integer>
			<key>name</key>
			<string>朝阳区</string>
			<key>phonetic</key>
			<string>chaoyangqu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110106</string>
			<key>initial</key>
			<string>F</string>
			<key>level</key>
			<integer>3</integer>
			<key>nHot</key>
			<integer>0</integer>
			<key>name</key>
			<string>丰台区</string>
			<key>phonetic</key>
			<string>fengtaiqu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110107</string>
			<key>initial</key>
			<string>S</string>
			<key>level</key>
			<integer>3</integer>
			<key>nHot</key>
			<integer>0</integer>
			<key>name</key>
			<string>石景山区</string>
			<key>phonetic</key>
			<string>shijingshanqu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110108</string>
			<key>initial</key>
			<string>H</string>
			<key>level</key>
			<integer>3</integer>
			<key>nHot</key>
			<integer>1</integer>
			<key>name</key>
			<string>海淀区</string>
			<key>phonetic</key>
			<string>haidianqu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110109</string>
			<key>initial</key>
			<string>M</string>
			<key>level</key>
			<integer>3</integer>
			<key>nHot</key>
			<integer>0</integer>
			<key>name</key>
			<string>门头沟区</string>
			<key>phonetic</key>
			<string>mentougouqu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110111</string>
			<key>initial</key>
			<string>F</string>
			<key>level</key>
			<integer>3</integer>
			<key>nHot</key>
			<integer>1</integer>
			<key>name</key>
			<string>房山区</string>
			<key>phonetic</key>
			<string>fangshanqu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110112</string>
			<key>initial</key>
			<string>T</string>
			<key>level</key>
			<integer>3</integer>
			<key>nHot</key>
			<integer>1</integer>
			<key>name</key>
			<string>通州区</string>
			<key>phonetic</key>
			<string>tongzhouqu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110113</string>
			<key>initial</key>
			<string>S</string>
			<key>level</key>
			<integer>3</integer>
			<key>nHot</key>
			<integer>0</integer>
			<key>name</key>
			<string>顺义区</string>
			<key>phonetic</key>
			<string>shunyiqu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110114</string>
			<key>initial</key>
			<string>C</string>
			<key>level</key>
			<integer>3</integer>
			<key>nHot</key>
			<integer>0</integer>
			<key>name</key>
			<string>昌平区</string>
			<key>phonetic</key>
			<string>changpingqu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110115</string>
			<key>initial</key>
			<string>D</string>
			<key>level</key>
			<integer>3</integer>
			<key>nHot</key>
			<integer>0</integer>
			<key>name</key>
			<string>大兴区</string>
			<key>phonetic</key>
			<string>daxingqu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110116</string>
			<key>initial</key>
			<string>H</string>
			<key>level</key>
			<integer>3</integer>
			<key>nHot</key>
			<integer>0</integer>
			<key>name</key>
			<string>怀柔区</string>
			<key>phonetic</key>
			<string>huairouqu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110117</string>
			<key>initial</key>
			<string>P</string>
			<key>level</key>
			<integer>3</integer>
			<key>nHot</key>
			<integer>0</integer>
			<key>name</key>
			<string>平谷区</string>
			<key>phonetic</key>
			<string>pingguqu</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110228</string>
			<key>initial</key>
			<string>M</string>
			<key>level</key>
			<integer>3</integer>
			<key>nHot</key>
			<integer>0</integer>
			<key>name</key>
			<string>密云县</string>
			<key>phonetic</key>
			<string>miyunxian</string>
		</dict>
		<dict>
			<key>code</key>
			<string>110229</string>
			<key>initial</key>
			<string>Y</string>
			<key>level</key>
			<integer>3</integer>
			<key>nHot</key>
			<integer>0</integer>
			<key>name</key>
			<string>延庆县</string>
			<key>phonetic</key>
			<string>yanqingxian</string>
		</dict>
		<dict>
			<key>code</key>
			<string>130100</string>
			<key>initial</key>
			<string>S</string>
			<key>level</key>
			<integer>2</integer>
			<key>name</key>
			<string>石家庄市</string>
			<key>phonetic</key>
			<string>shijiazhuangshi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>130104</string>
			<key>initial</key>
			<string>Q</string>
			<key>level</key>
			<integer>3</integer>
			<key>name</key>
			<string>桥西区</string>
			<key>phonetic</key>
			<string>qiaoxiqu</string>
		</dict>
	</array>
</dict>
</plist>
